<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" monitorInterval="5">
    <Properties>
        <Property name="HOSTNAME">${env:HOSTNAME:-localhost}</Property>
        <Property name="SERVICE_NAME">todo-service</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601}Z ${HOSTNAME} ${SERVICE_NAME}: [priority='%p' thread='%t' class='%c@%L'] %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.http" level="INFO"/>
        <Logger name="org.springframework.security" level="DEBUG"/>
        <Logger name="org.springframework.web" level="DEBUG"/>
        <Root level="info" additivity="false">
            <!--
              - Appenders:
              -  stdout (console) to allow kubectl logs to show the current logs associated with the service
              -->
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>